.Monster{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.6)),url(../img/蟲惑魔背景3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.first{
    font-size: 40px;
    color: whitesmoke;
}

.kouka{
    color: coral;
}

.X{
    color: gold;
}

.L{
    color: dodgerblue;
}

body{
    color: whitesmoke;
    font-family: 'Noto Serif JP', serif;
}

.sidebar{
    width: 200px;
    margin: 0 10px 0 30px;
    font-family: 'Noto Serif JP', serif;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    text-decoration: underline;
}

.explanation{
    display: flex;
}

.explanation img{
    width: 200px;
    height: 294px;
    margin-right: 20px;
}

.gif{
    display: flex;
}

span{
    font-size: 20px;
}

main{
    width: 700px;
    margin: 0 10px;
}

.contents{
    display: flex;
    width: 960px;
    margin: 0 auto;
}

.insect{
    color: orangered;
}

.plant{
    color: chartreuse;
}

.side{
    margin-left: 0;
    list-style: none;
    margin-bottom: 20px;
}

.side2{
    padding: 0px;
}

.side3{
    margin-left: 0;
    list-style: none;
    margin-bottom: 20px;
    color: coral;
}

.side4{
    margin-left: 0;
    list-style: none;
    margin-bottom: 20px;
    color: gold;
}

.side5{
    margin-left: 0;
    list-style: none;
    margin-bottom: 20px;
    color: dodgerblue;
}

