@charset "utf-8";
i{
    background-color: red;
    color: white;
    border-radius: 20%;
}
div{
    background-color: gray;
    color: white;
}
form{
    background-color: gainsboro;
}
z{
    vertical-align: top;
}
.ex1{
    text-align: center;
}